@font-face {
  font-family: MonoLisa;
  src: url("/assets/fonts/ml.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: MonoLisa;
  src: url("/assets/fonts/mlb.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: MonoLisa;
  src: url("/assets/fonts/mli.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: MonoLisa;
  src: url("/assets/fonts/mlbi.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
