.banner {
  padding: var(--spacing-md);
  margin: var(--margin-vertical-base-horizontal-zero);
  border: 1px solid;
  border-radius: var(--border-radius-slight);

  span,
  svg {
    height: var(--sizing-svg-sm);
    width: var(--sizing-svg-sm);
  }

  p {
    display: block;
    font-size: var(--font-size-sm);
    color: var(--text-color);
    margin: 0;

    a {
      color: var(--text-color);
    }

    svg {
      display: inline;
      vertical-align: middle;
    }
  }

  &.coffee,
  &.error,
  &.github,
  &.mastodon,
  &.npm,
  &.old-post,
  &.rss,
  &.warning {
    &.coffee {
      --banner-accent-color: var(--brand-buy-me-a-coffee);
    }
    &.error {
      --banner-accent-color: var(--error);
    }
    &.github {
      --banner-accent-color: var(--brand-github);
    }
    &.mastodon {
      --banner-accent-color: var(--brand-mastodon);
    }
    &.npm {
      --banner-accent-color: var(--brand-npm);
    }
    &.old-post {
      --banner-accent-color: var(--gray-dark);
    }
    &.rss {
      --banner-accent-color: var(--brand-rss);
    }
    &.warning {
      --banner-accent-color: var(--warning);
    }

    border-color: var(--banner-accent-color);

    p a:is(:hover, :active, :focus) {
      color: var(--banner-accent-color);
    }

    svg {
      stroke: var(--banner-accent-color);
    }
  }
}
