.media-grid {
  display: grid;
  gap: var(--spacing-sm);

  & + .media-grid {
    margin-top: var(--spacing-sm);
  }

  &.poster {
    grid-template-columns: var(--grid-poster);

    a {
      aspect-ratio: var(--aspect-ratio-banner);
    }
  }

  &.square {
    grid-template-columns: var(--grid-square);

    a {
      aspect-ratio: var(--aspect-ratio-square);
    }
  }

  &.vertical {
    grid-template-columns: var(--grid-vertical);

    a {
      aspect-ratio: var(--aspect-ratio-vertical);
    }
  }

  &:is(.poster, .square, .vertical) img {
    width: 100%;
    height: auto;
  }

  a:is(:hover, :active, :focus) .media-grid-item {
    border: var(--border-default-hover);
    transition: border-color var(--transition-duration-default)
      var(--transition-ease-in-out);
  }

  .media-grid-item {
    position: relative;
    border: var(--border-default);
    border-radius: var(--border-radius-slight);
  }

  .meta-text {
    color: var(--color-lightest);
    position: absolute;
    z-index: 2;
    left: var(--spacing-sm);
    bottom: var(--spacing-sm);
    max-width: calc(100% - calc(var(--spacing-sm) * 2));

    .header,
    .subheader {
      line-height: var(--line-height-md);
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .header {
      font-size: var(--font-size-sm);
      font-weight: var(--font-weight-bold);
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 6;
      line-clamp: 6;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .subheader {
      font-size: var(--font-size-xs);
    }
  }
}
