.music-chart {
  margin: var(--margin-vertical-base-horizontal-zero);

  ol {
    padding-left: 0;
  }

  .chart-item {
    display: grid;
    grid-template-columns: var(--grid-columns-one);
    align-items: center;

    &:not(:last-of-type) {
      margin-bottom: var(--spacing-lg);
    }

    @media screen and (min-width: 768px) {
      grid-template-columns: var(--grid-columns-two);
    }

    @media screen and (max-width: 768px) {
      .progress-bar-wrapper {
        margin-top: var(--spacing-sm);
      }
    }

    img {
      width: calc(var(--sizing-3xl) * 1.5);
      height: calc(var(--sizing-3xl) * 1.5);

      @media screen and (min-width: 768px) {
        width: calc(var(--sizing-3xl) * 2);
        height: calc(var(--sizing-3xl) * 2);
      }
    }

    .chart-item-info {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-xs);
    }

    .chart-item-progress {
      display: flex;
      justify-content: end;

      .progress-bar-wrapper {
        @media screen and (min-width: 768px) {
          max-width: 80%;
        }
      }
    }

    .meta {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--spacing-md);

      @media screen and (min-width: 768px) {
        padding-right: var(--spacing-base);
      }

      .meta-text {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: var(--spacing-xs);
      }
    }

    .title {
      font-weight: var(--font-weight-bold);
    }

    .title,
    .subtext,
    time {
      line-height: var(--line-height-md);
      word-break: break-word;
    }

    .subtext,
    time {
      font-size: var(--font-size-sm);
    }

    time {
      margin-top: var(--spacing-sm);

      @media screen and (min-width: 768px) {
        text-align: right;
        white-space: nowrap;
      }
    }
  }
}
