.progress-bar-wrapper {
  display: flex;
  height: var(--sizing-lg);
  width: 100%;
  background-color: var(--gray-light);
  border-radius: var(--border-radius-full);
  overflow: hidden;

  .progress-bar {
    background-color: var(--accent-color);
    border-radius: var(--border-radius-full);
  }
}
