youtube-video {
  aspect-ratio: 16/9;
  width: 100%;
  display: flex;
  overflow: hidden;
  border: var(--border-default);
  border-radius: var(--border-radius-slight);
  margin: var(--margin-vertical-base-horizontal-zero);

  &:hover {
    border: var(--border-default-hover);
    transition: border var(--transition-duration-default)
      var(--transition-ease-in-out);
  }
}
