.media-meta {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);

  .title {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-md);
  }

  .sub-meta {
    font-size: var(--font-size-sm);

    svg {
      width: var(--sizing-svg-sm);
      height: var(--sizing-svg-sm);
    }
  }
}

.associated-media {
  margin: var(--margin-vertical-base-horizontal-zero);
}

.concerts.media-title {
  margin-top: var(--spacing-base);
}
