.watching.hero {
  position: relative;

  img {
    aspect-ratio: var(--aspect-ratio-banner);
  }

  .meta-text {
    color: var(--color-lightest);
    position: absolute;
    z-index: 2;
    left: var(--spacing-sm);
    bottom: var(--spacing-sm);

    .header {
      font-weight: var(--font-weight-bold);
    }

    .subheader {
      font-size: var(--font-size-xs);
    }

    .header,
    .subheader {
      line-height: var(--line-height-md);
    }
  }
}
