<div class="music-chart">
  <ol type="1">
    {%- if count -%}
      {%- for item in data limit:count -%}
        <li value="{{ item.chart.rank }}">
          {% render "media/music/chart-item.liquid",
            item:item
          %}
        </li>
      {%- endfor -%}
    {%- else -%}
      {%- for item in pagination.items -%}
        <li value="{{ item.chart.rank }}">
          {% render "media/music/chart-item.liquid",
            item:item
          %}
        </li>
      {%- endfor -%}
    {%- endif -%}
  </ol>
</div>
{% render "nav/paginator.liquid",
  pagination:pagination
%}
