---
title: Links
description: These are links I've liked or otherwise found interesting. They're all added manually, after having been read and, I suppose, properly considered.
pagination:
  data: links
  size: 30
permalink: "/links/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber }}/{% endif %}index.html"
---
{% if pagination.pageNumber == 0 %}
<h2 class="page-title">Links</h2>
<p>These are links I've liked or otherwise found interesting. They're all added manually, after having been read and, I suppose, properly considered.</p>
{% render "blocks/banners/rss.liquid", url: "/feeds/links", text: "Subscribe to my links feed or follow along on this page" %}
<hr />
{% endif %}
<div class="link-grid">
  {% for link in pagination.items %}
  <div class="link-box">
    <a href="{{ link.link }}" title="{{ link.title | escape }}">
      <strong>{{ link.title }}</strong>
    </a>
    {% if link.author %} via <a href="{{ link.author.url }}">{{ link.author.name }}</a>{% endif %}
  </div>
  {% endfor %}
</div>
{% render "nav/paginator.liquid", pagination:pagination %}