---
title: Concerts
description: These are concerts I've attended (not all of them — just the ones I could remember or glean from emails, photo metadata et al).
pagination:
  data: concerts
  size: 30
permalink: "/music/concerts/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber }}/{% endif %}index.html"
---
{%- if pagination.pageNumber == 0 -%}
<h2 class="page-title">Concerts</h2>
<p>These are concerts I've attended (not all of them — just the ones I could remember or glean from emails, photo metadata et al). I've been to at least <strong class="highlight-text">{{ concerts | size }}</strong> shows. <a href="/music">You can also take a look at the music I've been listening to lately</a>.</p>
<hr />
{%- endif -%}
<ul>
  {%- for concert in pagination.items -%}
    {%- capture artistName -%}
      {% if concert.artist.url %}
        <a href="{{ concert.artist.url }}">{{ concert.artist.name }}</a>
      {% else %}
        {{ concert.artist.name }}
      {% endif %}
    {%- endcapture -%}
    {%- capture venue -%}
      {% if concert.venue.name %}
        {% if concert.venue.latitude and concert.venue.longitude %}
          <a href="https://www.openstreetmap.org/?mlat={{ concert.venue.latitude }}&mlon={{ concert.venue.longitude }}#map=18/{{ concert.venue.latitude }}/{{ concert.venue.longitude }}">{{ concert.venue.name_short }}</a>
        {% else %}
          {{ concert.venue.name_short }}
        {% endif %}
      {% endif %}
    {%- endcapture -%}
    <li>
      {{ artistName }} on <strong class="highlight-text">{{ concert.date | date: "%B %e, %Y" }}</strong>
      {% if venue %} at {{ venue }}{% endif %}
      {%- if concert.notes -%}
        {% assign notes = concert.notes | prepend: "### Notes\n" | markdown %}
        {% render "blocks/modal.liquid", icon:"info-circle", content:notes, id:concert.id %}
      {%- endif -%}
    </li>
  {%- endfor -%}
</ul>
{% render "nav/paginator.liquid", pagination:pagination %}