<div class="banner coffee">
  <p>
    {% tablericon "coffee" %} <a class="coffee plausible-event-name=Buy+Me+a+Coffee+post+footer" href="https://buymeacoffee.com/cory">If you found this post helpful, you can buy me a coffee.</a>
  </p>
</div>
